body {
  display: flex;
  justify-content: center;
  padding: 100px;
}
.grid {
  display: flex;
  background-color: lightgrey;
  width: 500px;
  height: 500px;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  padding: 10px;
}

.cell {
  border: 1px solid black;
  display: flex;
  width: 27px;
  height: 27px;
  margin: 0;
}

.cell.active {
  background-color: black;
}
