body {
  display: flex;
  justify-content: center;
  padding: 100px;
}
.grid {
  display: flex;
  background-color: lightgrey;
  width: 40rem;
  height: 40rem;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid black;
  padding: 10px;
}

.cell {
  border: 1px solid black;
  display: flex;
  margin: 0;
}

.cell.active {
  background-color: black;
}
